@mixin shadow($level) {
    @if $level == 1 {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    } @else if $level == 2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    } @else if $level == 3 {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    } @else if $level == 4 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    } @else if $level == 5 {
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.35);
    } @else if $level == 6 {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35);
    }
}
