@import "../../../assets/styles/base";

%cta {
    display: inline-block;
}

%cta-chevron {
    @extend %cta;

    &:before,
    &:after {
        line-height: 1;
        font-size: 11px;
    }
}

.primary {
    @extend %cta-chevron;
}

.secondary {
    @extend %cta;
}
