@import "../../../assets/styles/base";

.card {
    @include responsive-spacing(margin-bottom);
    @include shadow(2);

    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #ccc;

    & > *:last-child {
        @include responsive-spacing(padding-bottom);
    }
}

.card-header,
.card-media,
.card-title,
.card-content,
.card-actions {
    @include responsive-spacing(padding-top);
    @include responsive-spacing(padding-left);
    @include responsive-spacing(padding-right);
}

.card-header {

}

.card-media {
    img {
        @include responsive-image;
    }
}

.card-title {
    .title,
    .subtitle {
        margin: 0;
    }
}

.card-content {

    & > * {
        margin-top: 0;
        padding-top: 0;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.card-actions {}
