@import "../../../assets/styles/base";

.card {
    @include responsive-spacing(margin-bottom);

    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #ccc;
}

.card-header {
    @include responsive-spacing(padding);
}

.card-title {
    @include responsive-spacing(padding);

    .title,
    .subtitle {
        margin: 0;
    }
}

.card-content {
    @include responsive-spacing(padding);
}

.media {
    img {
        @include responsive-image;
    }
}
